<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
        <label>Suggest a new Cafe</label>
        <input name="cafe_name_input">
        <label>Google map URL link</label>
        <input name="url_name_input">
        <label>img_url</label>
        <input name="img_url">
        <label>location</label>
        <input name="location">
        <label>seats</label>
        <input name="seats">
        <label>has_toilet</label>
        <input name="has_toilet">
        <label>has_wifi</label>
        <input name="has_wifi">
        <label>has_sockets</label>
        <input name="has_sockets">
        <label>can_take_calls</label>
        <input name="can_take_calls">
        <label>coffee_price</label>
        <input name="coffee_price">
    </form>
</body>
</html>